<div class="search">
  <!-- <mat-form-field class="search_box">
    <mat-label>Search based off keywords</mat-label>
    <input
      matInput
      matTooltip="Search for breweries based on a search term"
      aria-label="Button that displays a tooltip in various positions"
      #searchBox
      placeholder="Search..."
      class="search_box"
      (input)="search(searchBox.value)"
    />
  </mat-form-field>
  <mat-card class="search_card" *ngFor="let brewery of breweries$ | async">
    <mat-card-title>{{ brewery.name }}</mat-card-title>
    <mat-card-subtitle>
      <mat-icon class="search_icon" matListIcon>room</mat-icon
      >{{ brewery.country }}, {{ brewery.city }}</mat-card-subtitle
    >
    <a href="{{ brewery.website_url }}">Visit web site</a>
  </mat-card> -->
</div>
