.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &_card {
    width: 500px;
    margin-bottom: 10px;
  }
  &_box {
    width: 500px;
  }
  &_icon {
  }
}
